/* Enter your custom styles here */
.loader {
    position: fixed;
    bottom: 24px;
    right: 24px;
    padding: 12px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 7px 15px -5px rgba(0,0,0,0.93); 
    box-shadow: 5px 7px 15px -5px rgba(0,0,0,0.93);
}

.loader:empty {
    display: none;
}

